<h1> Welcome to Nomster Place </h1>

<% @places.each do |place| %>
  <div>
    <h2><%= place.name %></h2><br />
    <i><%= place.address %></i><br />
    <p><%= place.description %></p><br />
  </div>

  <hr />
<% end %> 